# Data Ingestion & APIs
yfinance
google-genai

# Data Manipulation & Analysis
pandas
nltk

# Database & Cloud Integration
google-cloud-bigquery
pandas-gbq
google-auth

# Data Visualization & UI
streamlit
plotly

# Utility
tqdm

# testing model
scikit-learn
matplotlib
seaborn
